@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes kaydir {
  0% {
    transform: translateX(650%);
  }
  100% {
    transform: translateX(-150%);
  }
}


.element {
  animation: kaydir 2s infinite ;
}